body {
    background-color: #ffffff; /* Fondo negro para resaltar los colores neón */
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333; /* Fondo de la barra de navegación */
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    height: 50px; /* Ajusta el tamaño del logo */
    margin-right: auto; /* Empuja el logo hacia la izquierda */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    border: none;
    border-radius: 15px;
    padding: 3px 3px;
    margin: 0 15px;
}

nav ul li a {
    color: #39ff14; 
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease, background-color 0.3s ease; /* Transiciones suaves */
}

nav ul li a:hover {
    color: #000; /* Texto negro al pasar el mouse */
    background-color: #37ff14ab; /* Fondo verde neón al pasar el mouse */
    border-radius: 15px;
    padding: 8px auto;
    
}

nav ul li a:active {
    color: #fff;
    background-color: #ff00ff; /* Fondo rosa neón al hacer clic */
    border-radius: 5px;
    padding: 5px 10px;
}

nav ul i {
    color: #39ff14; /* Verde neón para los iconos */
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease; /* Transiciones suaves */
}

nav ul i:hover {
    color: #ff00ff; /* Rosa neón al pasar el mouse */
}

h1 {
    margin-bottom: 30px;
    color: black;
    display: flex;
    justify-content: center;
}

.container {
    display: flex; 
    justify-content: space-between; 
    max-width: 900px; 
    margin: 0 auto; 
    gap: 40px; 
}

.column_words {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
    background-color: #9cca9c;
}
.column_images {
    flex: 1;
    background-color: #9cca9c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;

}

h2 {
    margin-bottom: 20px;
    color: #0c0c0c;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 2px;
    border-color: #000;
}

li {
    cursor: pointer;
    padding: 15px;
    height: 40px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: #fafafa00;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

li:hover {
    background-color: #fbfdfb00;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 80px;
    height: 80px;
    object-fit: contain; 
}
.images-list{
    width: 60px;
    height: 60px;
}

.matched {
    background-color: #d4edda;
    color: #12411d;
}

.selected {
    border-color: #4caf50;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
}

#message {
    margin-top: 30px;
    font-size: 18px;
    color: #080808;
    font-weight: bold;
    text-align: center;
}

